@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --primary-100: #009b4c;
  --primary-50: #7fcca5;
  --primary-10: #e6f5ee;
  --primary-5: #f9fcfa;
  --neutral-100: #353535;
  --neutral-50: #999999;
  --neutral-10: #ebebeb;
  --neutral-5: #f5f5f5;
  --neutral-0: #ffffff;
  --secondary-100: #ed751e;
  --secondary-50: #f5b98e;
  --secondary-10: #fef2e9; */

  --primary-100: 0, 155, 76;
  --primary-50: 127, 204, 165;
  --primary-10: 230, 245, 238;
  --primary-5: 249, 252, 250;
  --neutral-100: 53, 53, 53;
  --neutral-50: 153, 153, 153;
  --neutral-10: 235, 235, 235;
  --neutral-5: 245, 245, 245;
  --neutral-0: 255, 255, 255;
  --secondary-100: 237, 117, 30;
  --secondary-50: 245, 185, 142;
  --secondary-10: 254, 242, 233;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --primary-100: #009b4c;
    --primary-50: #7fcca5;
    --primary-10: #e6f5ee;
    --primary-5: #f9fcfa;
    --neutral-100: #353535;
    --neutral-50: #999999;
    --neutral-10: #ebebeb;
    --neutral-5: #f9f9f9;
    --neutral-0: #ffffff;
    --secondary-100: #ed751e;
    --secondary-50: #f5b98e;
    --secondary-10: #fef2e9; */

    --primary-100: 0, 155, 76;
    --primary-50: 127, 204, 165;
    --primary-10: 230, 245, 238;
    --primary-5: 249, 252, 250;
    --neutral-100: 53, 53, 53;
    --neutral-50: 153, 153, 153;
    --neutral-10: 235, 235, 235;
    --neutral-5: 245, 245, 245;
    --neutral-0: 255, 255, 255;
    --secondary-100: 237, 117, 30;
    --secondary-50: 245, 185, 142;
    --secondary-10: 254, 242, 233;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--neutral-100);
  background: var(--neutral-0);
}

.publikasi-content__card p:first-of-type {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.publikasi-content p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.publikasi-content ul {
  margin-top: 1rem;
  list-style: square;
}

.publikasi-content ul li {
  margin-left: 1.5rem;
}

.publikasi-content ul li::marker {
  color: var(--primary-100);
}

.publikasi-content h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.publikasi-content h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.publikasi-content h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* publikasi content link */
.publikasi-content a {
  color: var(--primary-100);
  text-decoration: none;
  font-weight: 600;
}

/* Fixed Navbar */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-5px);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  to {
    opacity: 0;
    transform: translateY(-5px);
    visibility: hidden;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(5px);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
  to {
    opacity: 0;
    transform: translateX(5px);
    visibility: hidden;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-5px);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
  to {
    opacity: 0;
    transform: translateX(-5px);
    visibility: hidden;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.fade-in-down {
  animation: fadeInDown 0.2s ease-in-out forwards;
}

.fade-out-up {
  animation: fadeOutUp 0.2s ease-in-out forwards;
}

.fade-in-left {
  animation: fadeInLeft 0.2s ease-in-out forwards;
}

.fade-out-right {
  animation: fadeOutRight 0.2s ease-in-out forwards;
}

.fade-in-right {
  animation: fadeInRight 0.2s ease-in-out forwards;
}

.fade-out-left {
  animation: fadeOutLeft 0.2s ease-in-out forwards;
}

.slide-in-right {
  animation: slideInRight 0.2s ease-in-out forwards;
}

.slide-out-left {
  animation: slideOutLeft 0.2s ease-in-out forwards;
}
